@2014-color: #23A925;
@2015-color: rgb(43,131,186);

#map {
  height: 550px;

  .leaflet-popup-content {
    font-family: @font-family-sans-serif;
    p {
      margin-top: 0;
      margin-bottom: 3px;
      font-size: 12px;

      strong {
        font-size: 13px;
      }
    }
  }
}

.event-marker {
  font-size: 13px;
  text-shadow: 0px 3px 10px rgba(0,0,0,0.3);
  opacity: .75;

  .event-2014 {
      color: @2014-color;
  }
  .event-2015 {
      color: @2015-color;
  }
}

#year-toggle {
  .fa {
    margin-right: 5px;
  }
  .year-2014 {
    .fa {
      color: @2014-color;
    }
  }
  .year-2015 {
    .fa {
      color: @2015-color;
    }
  }

  .list-group-item:first-child .list-group-item-heading {
    margin-bottom: 0;
    font-family: @font-family-sans-serif;
    font-size: 14px;
  }

  .list-group-item-heading {
    margin-top: 4px;
    margin-bottom: 8px;
    i.status-icon:after {
      .fa-icon();
      content: @fa-var-square-o;
    }
  }
  .selected {
    .list-group-item-heading i.status-icon:after {
      content: @fa-var-check-square-o;
    }
  }
}
